<!-- app.component.html -->

<div class="container-fluid jumbotron jumbotron-fluid gradient-background text-white">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container ">
        <a class="navbar-brand text-white " href="#">SoundFree</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-end">
            <li class="nav-item">
              <a class="nav-link active text-white " aria-current="page" href="#">Descarga</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="#">Mis Canciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="#">Sobre Nosotros</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="mt-5">
    <div class="row text-white d-flex align-items-center justify-content-center ">
      <div class="col-md-6 col-6  text-center d-flex flex-column">
        <h1>Bienvenido a SoundFree</h1>
        <p>SoundFree es tu plataforma para <b>Guardar</b> y <b>Descargar</b> música.</p>

        <div class="d-flex justify-content-center">   <video autoplay muted class="mt-5">
          <source src="../assets/youtube - Buscar con Google and 20 more pages - Work - Microsoft​ Edge 2024-05-25 00-17-46.mp4" type="video/mp4">
          Tu navegador no es compatible con vídeos HTML5.
        </video></div>
     
      </div>
      <div class="col-md-6 col-6 text-center d-flex flex-column mt-5 p-5">
      <h3>Explora más</h3>
          <p class="text-center mt-4 px-4">Encuentra la música perfecta y descargala para tu uso personal, Desarrollo sin animo de lucro y de servicio netamente personal.
            ingresa la url de la cancion y la tendra en segundos en tu Albun o en tu PC
          </p>
          <div class="d-flex align-items-center mt-4">
            <div for="framework" class="col-6 mx-sm-3 col-8 mb-2">
                <input id="framework" class="col-12 p-1 border" type="text" [(ngModel)]="favoriteFramework" placeholder=" ¡Pega aqui!" />
            </div>
            <button type="submit" (click)="sendUrl()" class="btn btn-primary mb-2">Agregar a tu Albun</button>
            
          </div>

      </div>
    </div>
  
  
  <div class="mt-20">
    
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 ">Mis Canciones</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
       @for(song of songs; track song.id){

        <div class="col">
          <div class="card-img-top card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" [style.background-image]="'url(' + song.cover_image + ')'">
            <div class="d-flex flex-column h-100 p-3 pb-0 text-white text-shadow-1">
              <ul class="d-flex list-unstyled items-start">
                <li class="">
                  <button (click)="playAudio(song.audio_file)" style="background: transparent; border: none;" >
                   
                    @if(isPlaying && currentAudio && song.audio_file === currentAudio.src){
                   
                      <img src="../assets/pause.svg" alt="Play Button" width="50" height="50">
                 
                  }
                  @else{
            
                   
                      <img src="../assets/play.svg" alt="Pause Button"  width="50" height="50">
              
                  }
                  </button>
                </li>
              </ul>
              <h3 class="pt-5 mt-3 mb-4 display-6 lh-1 fw-bold">{{song.video_title}}</h3>
            
              <div class="d-flex justify-content-end">
               <button  (click)="songDelete(song.id)" >
                Eliminar
               </button></div>
            
            </div>
          
          </div>
        </div>
       }


    </div>
  </div>


  
  </div>
  
  
  
  
  
  </main>



    
    

  


  <footer class="mt-4">
    <div class="text-center p-3 bg-BLACK">
  J Y E
    </div>
  </footer>
</div>
